In [5]:
import pandas as pd 
import numpy as np 
import seaborn as sns
sns.set()
sns.set_context("notebook", font_scale=1.5, rc={"lines.linewidth": 2.5})

## Reading / Displaying the Data

In [7]:
df_sales = pd.read_csv('../data/desafio.csv')

In [8]:
df_sales.head()

,order_id,code,quantity,price,pis_cofins,icms,tax_substitution,category,liquid_cost,order_status,capture_date,process_date,process_status,source_channel
0,bcb59c839e78b2601374cbad9239ca7b,e6762ba2ffbca07ab6cee7551caeaad5,1,978.90,90.5483,0.0000,191.8416,4ece547755cba9e7fc14125bc895f31b,542.7065,entrega total,2016-06-11,2016-06-11,processado,b76eb9b8fc0f17098812da9117d3e500
1,4e91ee6b95895771dc9ee524e910a902,e6762ba2ffbca07ab6cee7551caeaad5,1,1036.29,95.8568,176.1693,0.0000,4ece547755cba9e7fc14125bc895f31b,542.7065,em rota de entrega,2016-06-11,2016-06-11,processado,b76eb9b8fc0f17098812da9117d3e500
2,88eb0ac86af1a521c0831298d22dea8b,e6762ba2ffbca07ab6cee7551caeaad5,1,978.90,90.5483,0.0000,191.8416,4ece547755cba9e7fc14125bc895f31b,542.7065,entrega total,2016-06-12,2016-06-12,processado,b76eb9b8fc0f17098812da9117d3e500
3,dee418152a36314b4aee6ce9cf94fcbf,e6762ba2ffbca07ab6cee7551caeaad5,1,978.90,90.5483,176.2020,0.0000,4ece547755cba9e7fc14125bc895f31b,542.7065,cancelado,2016-06-13,0000-00-00,captado,b76eb9b8fc0f17098812da9117d3e500
4,1c175bc61b9b659bbf011b2e5e3dcec6,e6762ba2ffbca07ab6cee7551caeaad5,1,976.05,90.2846,0.0000,192.3325,4ece547755cba9e7fc14125bc895f31b,542.7065,entrega total,2016-06-13,2016-06-13,processado,b76eb9b8fc0f17098812da9117d3e500

In [68]:
df_sales.describe(percentiles=[.0001,.25, .50, .75, .90, .99, .9999])

,quantity,price,pis_cofins,icms,tax_substitution,liquid_cost
count,179149.000000,179149.000000,179149.000000,179149.000000,179149.000000,179149.000000
mean,1.055278,234.638585,19.525329,25.095547,17.872443,136.034906
std,0.597942,186.638919,17.402820,32.333226,28.125661,83.603243
min,1.000000,1.030000,0.000000,0.000000,0.000000,4.114100
0.01%,1.000000,6.910000,0.000000,0.000000,0.000000,4.114100
25%,1.000000,149.910000,10.640300,0.000000,0.000000,78.862100
50%,1.000000,194.400000,17.519500,21.492000,0.000000,117.082000
75%,1.000000,309.360000,28.157000,38.880000,30.403000,205.899700
90%,1.000000,359.948000,33.244500,61.092000,68.868820,213.438200
99%,2.000000,849.182000,72.015900,136.783800,110.798852,496.929700
99.99%,20.000000,5024.962012,445.455148,572.301644,280.453200,896.681400
max,100.000000,19993.000000,1849.352500,3598.740000,280.834200,896.681400

* The majority of the orders have 1 unity of product 
* An order with 100 itens seems to be a huge outlier since it is too farway from the 99.99% percentile. 
* The tax_substituion == 0 indicates sales within the same icms range (state maybe), need checks
* I'm missing some geolocation indicators

## Verify the distributions

In [87]:
def summary_dist(target_col, base_col='order_id'):
    df_summary = df_sales[[target_col,base_col]].groupby(target_col).agg({base_col:pd.Series.nunique}).reset_index()
    df_summary.order_id = df_summary.order_id / df_summary[base_col].sum()  * 100
    return df_summary.sort_values(base_col)

In [88]:
summary_dist('order_status')

                   order_status   order_id
4        cancelado não aprovado   0.001139
11       pendente processamento   0.002848
6          em rota de devolução   0.014239
16            suspenso barragem   0.017656
15           suspeita de fraude   0.017656
3   cancelado fraude confirmada   0.039869
10            fraude confirmada   0.091129
5     disponível para retirada.   0.120177
2   cancelado dados divergentes   0.376477
12                   processado   0.494945
13  solicitação de cancelamento   0.572405
8               entrega parcial   1.290047
14         solicitação de troca   1.300299
7            em rota de entrega   1.473444
0                     cancelado   2.929233
1     cancelado boleto não pago  10.335184
9                 entrega total  80.923252

It is cool to perceive that 13% of the sales are cancelled

In [89]:
summary_dist('process_status')

  process_status   order_id
0        captado  13.825431
1     processado  86.174569

Maybe we should have to work with only the processed orders

In [90]:
summary_dist('category')

                            category   order_id
7   9cfa7aefcc61936b70aaec6729329eda   0.033008
1   4ece547755cba9e7fc14125bc895f31b   0.036422
2   568696c0b6828f77884ea8628fcc6200   0.040406
10  f79dccaf0b890eced0724d8563948c4f   0.041544
8   d7ecf0071e88c21e993da125d2229a51   0.079674
3   61ad270def6d4b2403f4536f39cff29a   0.113819
5   98f679396a60f117b171ddedfcc3e5ed   0.187802
9   dda10a917a9ea3120e5d299af5105290   0.599259
4   90cc5bdd050bcd7cf0d50d079d0fda66   2.962718
6   9a97178a18aa6333aabdfb21de182b99  10.247728
0   388128822cef4b4f102ae881e040a64b  85.657620

* It is interesting to see that 85% of the orders are from 1 category

In [91]:
summary_dist('category', base_col='code')

AttributeError: 'DataFrame' object has no attribute 'order_id'